@each $current-color in $avatarColors {
  $i: index($avatarColors, $current-color) - 1;
  .icon-#{$i} {
    background-color: $current-color;
  }
}

.logo__icon {
  color: map-get($projectColors, header);
  width: 56px;
  height: 56px;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  float: left;
}
