@each $current-color in $avatarColors {
  $i: index($avatarColors, $current-color) - 1;
  .icon-#{$i} {
    background-color: $current-color;
  }
}

.logo__icon {
  color: map-get($projectColors, avatarColor);
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 1px solid map-get($projectColors, avatarColor);
  background-color: map-get($projectColors, avatarBackground);
  text-align: center;
  cursor: pointer;
  float: left;
  font-weight: map-get($fontWeights, upMedium);
  font-size: map-get($fontSizes, popupHeader);
  line-height: map-get($lineHeighths, l4);
}
