.tooltip {
  position: relative;
  display: inline-block;
  text-decoration: underline;
  &__textContainer {
    display: flex;
    visibility: hidden;
    max-width: 385px;
    background-color: map-get($projectColors, cardBackground);
    padding: map-get($spaces, s2);
    position: absolute;
    z-index: 1;
    box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.08),
      0px 14px 28px rgba(0, 0, 0, 0.1);
  }

  &__headerContainer {
    display: grid;
    grid-template-columns: 330px 55px;
  }

  &__header {
    font-size: map-get($fontSizes, popupHeader);
    font-weight: map-get($fontWeights, bold);
    line-height: map-get($lineHeighths, l4);
  }

  &__subheader {
    font-size: map-get($fontSizes, anchor);
    font-weight: map-get($fontWeights, light);
    line-height: map-get($lineHeighths, l1);
  }

  &__avatar {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    float: left;
  }

  &__statContainer {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-auto-rows: 20px;
  }

  &__viewProfile {
    width: 100%;
    display: inline-flex;
    justify-content: flex-end;
    grid-column-start: 1;
    grid-column-end: 8;

    &__icon {
      width: 12px;
      height: 12px;
    }
  }
}

.tooltip:hover .tooltip__textContainer {
  visibility: visible;
}
